name: CI Pipeline

on:
  push:
    branches: [main]

jobs:
  test:
    name: Build Test and Coverage
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"
          
      - name: Build
        run: ./mvnw clean compile
        
      - name: Test
        run: ./mvnw test
        
      - name: Coverage
        run: ./mvnw jacoco:report
        
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: |
            target/surefire-reports/
            target/site/jacoco/
          retention-days: 5
